<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/signin.css">
  <script src="../angular/angular.min.js"></script>
  <script src="../angular/angular-cookies.js"></script>
  <title>Admin Perumahan</title>
</head>

<body ng-app="AngularJSLogin" ng-controller="AngularLoginController as angCtrl">
  <form name="login" ng-submit="angCtrl.loginForm()" class="form-signin form-horizontal" method="POST">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" class="form-control" id="inputNIP" placeholder="Masukkan NIP"
    ng-model="angCtrl.inputData.nip">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Masukkan Password"
    ng-model="angCtrl.inputData.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
  </form>

  <!--  Mulai Kode Javascript  -->
  <script>
    angular.module('AngularJSLogin', ['ngCookies'])
      .controller('AngularLoginController', ['$scope', '$http', '$cookies', function ($scope, $http, $cookies) {
        this.loginForm = function () {
          var username = this.inputData.nip;
          var user_data = 'user_username=' + this.inputData.nip + '&user_password=' + this.inputData.password;

          $http({
            method: 'POST',
            url: '../auth/admin/login.php',
            data: user_data,
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
          })
            .then(function (response) {
              console.log(response);
              if ((response.data).trim() === 'correct') {
                $cookies.put('cookieval', username);
                window.location.href = 'home.html';
              } else {
                $scope.errorMsg = "Invalid Username and Password";
              }
            })
        }

      }]);
  </script>
  <!--  Akhirt Kode Javascript  -->
</body>

</html>